<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Lassoo</title>
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/font-awesome-4.5.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
  </head>
  <body ng-app="lassoo">
    <div>
        <ui-view></ui-view>
    </div>
    <script type="text/ng-template" id="/login.html" ng-controller="AuthCtrl">
        <div id="section">
          <h1 class="logo">Lassoo</h1>
          <div id="loginSection">
            <form id="loginForm" name="loginForm" ng-submit="logIn()">
              <input type="text" id="loginUser" name="loginUser" tabindex="1" placeholder="username" ng-model="user.username" required>
              <input type="password" id="loginPass" name="loginPass" tabindex="2" placeholder="password" ng-model="user.password" required>
            </form>
            <button type="submit" form="loginForm" id="loginBtn" tabindex="3">Sign in</button>
            <button id="regBtn" tabindex="4" ng-click="goReg()">Sign up</button>
          </div>
        </div>
    </script>
    <script type="text/ng-template" id="/register.html" ng-controller="AuthCtrl">
        <div id="section">
          <h1 class="logo">Lassoo</h1>
          <div id="regSection">
            <form ng-submit="register()" id="regForm" name="regForm">
              <input type="text" id="regUser" name="regUser" tabindex="1" placeholder="username" ng-model="user.username" required>
              <input type="password" id="regPass" name="regPass" tabindex="2" placeholder="password" ng-model="user.password" required>
              <input type="password" id="confirmPass" name="confirmPass" tabindex="3" placeholder="confirm password" ng-model="confirmPass" required>
            </form>
            <button type="submit" form="regForm" id="regbtn" tabindex="4" required>Register</button>
          </div>
        </div>
    </script>
    <script type="text/ng-template" id="/lassoMap.html" ng-controller="HomeCtrl">
        <div id="map" class="google-map"></div>
        
        <div class="tools">
          <div class="distance">
            <div class="num">{{setDistance}}</div>
            <div class="km">km</div>
          </div>
          <div class="range">
            <input type="range" min="5" max="100" step="5" ng-model="setDistance" ng-show="showMode==1">
            <input type="range" min="1" max="10" step="1" ng-model="setDistance" ng-show="showMode==0">
            <div class="label1">SET YOUR DISTANCE</div>
          </div>
          <div class="iconMode">
            <i id="mode0" ng-style ="styleMode0" ng-click="setMode0()" class="fa fa-male fa-3x" aria-hidden="true"></i>
            <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
            <i id="mode1" ng-style ="styleMode1" ng-click="setMode1()" class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
          </div>
          <div>
            <button ng-click="viewMap()" class="btnView">GO</button>
            <button ng-click="makingKML()">KML</button>
          </div>
          <div>
            <a class="curUser">{{ currentUser() }}</a>
            <a class="logout" href="" ng-click="logOut()">Log Out</a>
          </div>
        </div>
        <!--
        <div id="right-panel">
          <p>Total Distance: <span id="total"></span></p>
        </div>-->
    </script>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/icon.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/authService.js"></script>
    <script src="/js/authentication.js"></script>
    <script src="/js/home.js"></script>

  </body>
</html>